# Find the second highest number in a list

In [4]:
a = [1,2,3,4,5,6,7,6]

highest_num = a[0]
sec_highest_num = a[0]

for i in range (len(a)):
    if a[i] > highest_num:
        highest_num = a[i]
print("The highest number is: ", highest_num)

for i in range (len(a)):
    if a[i] > sec_highest_num and a[i] != highest_num:
        sec_highest_num = a[i]
print("The second highest number is: ", sec_highest_num)

The highest number is:  7
The second highest number is:  6

In [5]:
sum = 0

for i in (a):
    sum = sum + i
print(sum)

34

In [18]:
a = int(input("Enter row number"))
for i in range(a):
    for j in range (a-i-1):
        print(" ", end = "")
    for j in range(i,-1,-1):
        print(j+1,end =" ")
    print()

Enter row number6
     1
    2 1
   3 2 1
  4 3 2 1
 5 4 3 2 1
6 5 4 3 2 1

# Function

In [3]:
def multiplication (a,b):
    multiply = a*b
    print(multiply)
    return multiply
result = multiplication (20,2)

40

In [107]:
result

16

In [49]:
def subtraction (a,b):
    value = a - b
    print(value)
    return value,a
result = subtraction(10,5)

5

In [50]:
result

(5, 10)

In [105]:
sub = lambda a,b: a - b
sub(15,5)

10

1

# List comprehention

In [56]:
a = [2,3,4,5,6,7,8]
b = []
for i in (a):
    if i % 2 == 0:
        b.append(i**2)
    else:
        b.append(i)
b

[4, 3, 16, 5, 36, 7, 64]

In [60]:
a = [2,3,4,5,6,7,8]
b = [i**2 if i % 2 == 0 else i for i in (a)]

b

[4, 3, 16, 5, 36, 7, 64]

In [70]:
a = [1,2,3,4,5]
sum = 0
for num in (a):
    sum+=(num)
print(sum)

15

# lambda

In [61]:
sum1 = lambda a=16,b=14: a + b
sum1()

30

In [62]:
sub = lambda a,b: a-b
sub(10,6)

4

In [63]:
multiply = lambda a,b: a*b
multiply(10,10)

100

In [64]:
divide = lambda a,b:a/b
divide(10,2)

5.0

In [65]:
power = lambda a,b:a**b
power(3,2)

9

In [66]:
floor_div = lambda a,b:a//b
floor_div(20,4)

5

In [69]:
remeinder= lambda a,b: a%b
remeinder(20,3)

2

In [57]:
def check_string ():
    user_input = input("Enter a string ")
    if "s" in user_input:
        print("The string containing the latter 's'.")
    else:
        print("The string does not containing the latter 's'.")
        
check_string()

Enter a string sports
The string containing the latter 's'.

In [59]:
check_string()

Enter a string photography
The string does not containing the latter 's'.

In [19]:
check_string()

Enter a string special
The string containing the latter 's'.

In [1]:
def factor(n):
    factorial = 1
    for i in range (n):
        factorial *= i+1
    
    return factorial
result = factor(5)

In [2]:
result

120

In [23]:
# Function

def add (a,b):
    add = a + b
    return add
add_result = add(24,6)

In [28]:
add_result

30

In [31]:
multiplication = lambda a,b:a*b
multiplication(6,2)

12

In [46]:
a = [2,6,7,8,3,5,10,8,14,11,16]
max_num = a[0]
sec_max_num = a[0]
for i in range(len(a)):
        if a[i] > max_num:
            max_num = a[i]
print("The highest number is ",max_num)
for i in range(len(a)):
    if a[i] > sec_max_num and a[i] != max_num:
        sec_max_num = a[i]
print("The second highest number is ",sec_max_num)

The highest number is  16
The second highest number is  14

In [49]:
var = lambda a,b : a*b
var(2,3)

6

In [9]:
a = [1,2,3,4,5,6,7,6]
def find_min(a):
    min_num = a[0]
    for i in range (len(a)):
        if a[i] < min_num:
            min_num = a[i]
    return min_num
print("The Minimum number is: ", min_num)

NameError: name 'min_num' is not defined

In [24]:
class factor():
    def factor(self,n):
        factorial = 1
        for i in range (n):
            
            factorial *= i+1
    
        return factorial
fac_obj = factor()
fac_obj.factor(int(input("Enter a number ")))

Enter a number 5

120

In [1]:
class student():
    def __init__(self):
        self.user_input = None
        
    def fun1(self):
        self.user_input = input("Enter a vallue: ")
        return self.user_input
    def messege (self):
        print("User defined input: ", self.user_input)
        
student_obj = student()
value = student_obj.fun1()
student_obj.messege()

Enter a vallue: 15
User defined input:  15

In [53]:
num1 = [1,2,3,4,5,6,7,8]
highest_num = num1[0]
sec_highest_num = num1[0]

for i in range (len(num1)):
    if num1[i] > highest_num:
        highest_num = num1[i]
print("Highest Number is: ", highest_num)

for i in range (len(num1)):
    if num1[i] > sec_highest_num and num1[i] != highest_num:
        sec_highest_num = num1[i]
print("Second highest number is: ", sec_highest_num)

Highest Number is:  8
Second highest number is:  7

In [54]:
a = [1,2,3,4,5,6,7,6]

highest_num = a[0]
sec_highest_num = a[0]

for i in range (len(a)):
    if a[i] > highest_num:
        highest_num = a[i]
print("The highest number is: ", highest_num)

for i in range (len(a)):
    if a[i] > sec_highest_num and a[i] != highest_num:
        sec_highest_num = a[i]
print("The second highest number is: ", sec_highest_num)

The highest number is:  7
The second highest number is:  6

In [25]:
#oop

class parent:
    def __init__(self):
        self.age = 21
        
class child(parent):
    def __init__(self):
        parent.__init__(self)
        self.name = "John"
        
class child2(child):
    def __init__(self):
        child.__init__(self)
        self.passion = "Banker"
class child3(child2):
    def __init__(self):
        child2.__init__(self)
        self.county = "U.S.A"

        
    def display(self):
        print(self.name,self.age,self.passion,self.county)
        
obj = child3()
obj.display()

John 21 Banker U.S.A

In [7]:
a = [2,35,43,4,65,58,54,76,93,53]
len(a)

10

In [8]:
type(a)

list

In [9]:
tuple(a)

(2, 35, 43, 4, 65, 58, 54, 76, 93, 53)

In [10]:
sum = 0
for i in a:
    sum +=i
print(sum)

483

In [14]:
highest_num = a[0]
sec_highest_num = a[0]
for i in range (len(a)):
    if highest_num > a[i]:
        pass
    else:
        highest_num = a[i]
print("The highest number is: ",highest_num)

for i in range (len(a)):
    if a[i] > sec_highest_num and a[i] != highest_num:
        sec_highest_num = a[i]
print("The second highest Number is : ", sec_highest_num)

The highest number is:  93
The second highest Number is :  76

In [15]:
a.sort()

In [16]:
print(a[-2])

76

In [28]:
def add (a,b):
    add = a+b
    return add,a,b
result= add(3,4)

In [29]:
result

(7, 3, 4)

In [46]:
a = [1,2,3,4,5,6]
b = []
for i in a:
    if i%2 == 0:
        b.append(i*2)
    else:
        b.append(i+2)
print(b)

[3, 4, 5, 8, 7, 12]

In [47]:
a = [1,2,3,4,5,6]
b = [i*i if i%2 == 0 else i+2 for i in a]

In [48]:
b

[3, 4, 5, 16, 7, 36]

In [7]:
class summ:
    
    def add (self,a,b):
        self.add = a+b
        return self.add
obj = summ()
obj.add(3,4)

7

In [8]:
result

"ksdfsdlklf'"

In [56]:
sum1 = lambda a, b: a+b
sum1(67,55)

122

In [34]:
#  Create a lambda function that should double or multiply the number (that we will be passing
# in the lambda function) by 2. Store the lambda function in a variable named ‘double_num’.

double_num = lambda a,b: (a*a,b*b)
double_num(3,2)


# double_num1 = lambda a:a*2
# double_num1 (3)

(9, 4)

In [46]:
# Create a function named ‘check_string’, the function should accept a string data from the
# user and the function should check if the user input contains the letter ‘s’ in it. If it contains
# the letter ‘s’ then print- ‘The string is containing the letter ‘s’’, if not then print- ‘The string
# doesn’t contain the letter ‘s’’

class check:
    def check_string ():
        user_input = input("Enter a string ")
        if "s" in user_input:
            result = print("The string contain 's' alphabet", user_input.count("s"), "times in the string.")
            
        else:
            result = print("The string doesn't contain 's'.")
        
         
        return result
obj = check
obj.check_string()

Enter a string akssoks
The string contain 's' alphabet 3 times in the string.

# Create a function named ‘factor’ that can only accept 1 argument. The function should return the factorial of that number.

In [17]:
class fun3:
    def factor(n):
        factorial = 1
        for i in range (n):
            factorial *= i+1
            
        return factorial
    
obj = fun3
obj.factor(int(input("Enter a number: ")))

Enter a number: 5

120

In [35]:
double_num1 = lambda a:a*2
double_num1 (3)

6

In [1]:
class person:
    
    def details(self,Name):
        age = 20
        gender = "male"
        print(Name,age,gender)
        
obj = person()
obj.details("John")

John 20 male

In [6]:
class bike:
    def features(self,bike_name):
        self.bike_name = bike_name
        self.bike_color = "Blue"
        print(bike_name,self.bike_color)
        
    def disp(self):
        print(self.bike_name,self.bike_color)
        
obj = bike()
obj.features("Bajaj")
obj.disp()

Bajaj Blue
Bajaj Blue

In [11]:
class car:
    def __init__(self,car_color):
        self.car_color = car_color
        self.car_name = "Hyundai"
#         print(self.car_name,car_color)
        
    def disp(self):
        print(self.car_name,self.car_color)
        
obj = car("red")
obj.disp()

Hyundai red

In [17]:
class calculator:
    def even(self,b):
        if b%2 == 0:
            result = self.square(b)
        else:
            result = self.double(b)
            
        return result
    
    def square(self,a):
        return a**2
    
    def double(self,a):
        return a*2
    
obj = calculator()
obj.even(5)

10

In [18]:
class calculator:
    def even(self,a):
        self.a = a
        if a%2 == 0:
            result = self.square()
            
        else:
            result = self.double()
            
        return result
    def square(self):
        return self.a**2
    def double(self):
        return self.a*2
    
obj = calculator()
obj.even(6)

36

In [24]:
class student:
    def fun1(self,a):
        self.a = a
        return self.a
    
    def message(self):
        print(self.a)
        
obj = student()
result = obj.fun1(int(input("Enter a number")))
obj.message()

Enter a number6
6